.footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #F8F9FA;
    position: fixed;
    bottom: 0;
    height: 40px
    
}


.simula-bipe input{
    margin: 5px;
}

.simula-bipe button{
    border-radius: 4px;
    border: none;
    background-color: #A0D5EC;
    color: rgb(87, 87, 87);
    padding: 4px 8px;
    cursor: pointer;
}